In [1]:
import pandas as pd
import twint
import nest_asyncio
nest_asyncio.apply()

Si surgen problemas en la instalación de Twint, ejecutar desde la terminal:
pip install --upgrade -e git+https://github.com/twintproject/twint.git@origin/master#egg=twint

Cargamos los trends desde el csv 'trends.csv'. Está disponible tanto en slack como en Github.

In [2]:
df= pd.read_csv("/Users/pilarlorenteconesa/Desktop/PROYECTO/Source/trends.csv", sep = ";")
df

       location        date                   trend
0         Spain  2020-01-00            #FelizMartes
1         Spain  2020-01-00  #PorUn2020ConRoiMendez
2         Spain  2020-01-00      #FelizAnoGentleman
3         Spain  2020-01-00       #navidadheretics6
4         Spain  2020-01-00              #VenteAl20
...         ...         ...                     ...
63895  Zaragoza  2020-04-30         #assassinscreed
63896  Zaragoza  2020-04-30            #elconquis15
63897  Zaragoza  2020-04-30           #VoxParásitos
63898  Zaragoza  2020-04-30               #tr3smami
63899  Zaragoza  2020-04-30             #remdesivir

[63900 rows x 3 columns]

Esta lista de trends incluye, además de Spain, otras comunidades autónomas. Con el fin de agilizar el proceso, filtraremos solo por Spain.

In [3]:
#filtramos solo por españa
df1=df[df['location']=='Spain']
df1

     location        date                   trend
0       Spain  2020-01-00            #FelizMartes
1       Spain  2020-01-00  #PorUn2020ConRoiMendez
2       Spain  2020-01-00      #FelizAnoGentleman
3       Spain  2020-01-00       #navidadheretics6
4       Spain  2020-01-00              #VenteAl20
...       ...         ...                     ...
6895    Spain  2020-04-30                  Murcia
6896    Spain  2020-04-30                   Palma
6897    Spain  2020-04-30                 Seville
6898    Spain  2020-04-30                Valencia
6899    Spain  2020-04-30                Zaragoza

[6900 rows x 3 columns]

Añadimos columnas de día y mes

In [ ]:
df1['day']= df1.date.apply(lambda x : x[8:10])
df1["month"] = df1.date.apply(lambda x : x[5:7])

Al hacer scrapping, se han colado los nombres de las comunidades como si fueran una tendencia más, por lo que vamos a eliminar esas filas.

In [5]:
df1=df1[~(df1['trend'].isin(['Barcelona','Bilbao','Las Palmas','Madrid','Malaga','Murcia','Palma','Seville',
'Valencia','Zaragoza']))]
df1

     location        date                   trend day month
0       Spain  2020-01-00            #FelizMartes  00    01
1       Spain  2020-01-00  #PorUn2020ConRoiMendez  00    01
2       Spain  2020-01-00      #FelizAnoGentleman  00    01
3       Spain  2020-01-00       #navidadheretics6  00    01
4       Spain  2020-01-00              #VenteAl20  00    01
...       ...         ...                     ...  ..   ...
6885    Spain  2020-04-30      #Superviviente2020  30    04
6886    Spain  2020-04-30         #MaratonESC2008  30    04
6887    Spain  2020-04-30                 #MalúEH  30    04
6888    Spain  2020-04-30               #Mariposa  30    04
6889    Spain  2020-04-30               #SVGala11  30    04

[5648 rows x 5 columns]

# FILTRADO POR MES y BÚSQUEDA
REPARTO:
-Pilar : Enero
-Ismael : Febrero
-Daniel : Marzo
-Carlos: Abril

El mes de enero comienza en el día 07 en nuestra búsqueda. Así que además de filtrarlo por mes, también habrá que filtrarlo por días.

In [12]:
df_enero=df1[~(df1['day'].isin(['00','01','02','03','04','05','06'])) & (df1['month']=='01')].reset_index()

In [ ]:
trends = list(df_enero.trend)
for trend in trends:
    c = twint.Config()
    c.Search = trend
    c.Lang = "es"
    c.Since = "2020-01-07"
    c.Until = "2020-05-01"
    c.Store_csv = True
    c.Output = "{}.csv".format("_".join(trend.strip("#").split(" ")))
    c.Limit = 20_000
    twint.run.Search(c)

OTRO EJEMPLO: FEBRERO

In [16]:
df1[df1['month']=='02'].trend

1920                #MarcosAna
1921    #finalfantasyviiremake
1922       #SanValentinYProtos
1923          #getloudforjihyo
1924        #PreguntaleALucas2
                 ...
3705              Willy Toledo
3706        #ValenciaRealBetis
3707             #otdirecto29f
3708               #HBDtoWONHO
3709                   Mariano
Name: trend, Length: 1500, dtype: object

In [ ]:
trends = list(df1[df1['month']=='02'].trend)
for trend in trends:
    c = twint.Config()
    c.Search = trend
    c.Lang = "es"
    c.Since = "2020-01-07"
    c.Until = "2020-05-01"
    c.Store_csv = True
    c.Output = "{}.csv".format("_".join(trend.strip("#").split(" ")))
    c.Limit = 20_000
    twint.run.Search(c)