In [1]:
import numpy as np
import pandas as pd

In [4]:
df_24_t = pd.read_csv("C:/Users/Daniel/Desktop/csv/def/tweets_24_tendencias_variables_7h.csv", sep = ";")
df_24_nt = pd.read_csv("C:/Users/Daniel/Desktop/csv/def/tweets_24_notendencias_variables_7h.csv", sep = ";")
df_25_t = pd.read_csv("C:/Users/Daniel/Desktop/csv/def/tweets_25_tendencias_variables_7h.csv", sep = ";")
df_25_nt = pd.read_csv("C:/Users/Daniel/Desktop/csv/def/tweets_25_notendencias_variables_7h.csv", sep = ";")

In [8]:
dfs = [df_24_t]
df_24 = pd.DataFrame()
for dataf in dfs:
    df_aux = dataf
    df_aux["target"] = [1 for i in range(df_aux.shape[0])]
    df_24 = pd.concat([df_24, df_aux])
    
dfs = [df_24_nt]
for dataf in dfs:
    df_aux = dataf
    df_aux["target"] = [0 for i in range(df_aux.shape[0])]
    df_24 = pd.concat([df_24, df_aux])

In [18]:
df = pd.concat([df_t, df_nt])

In [14]:
df.to_csv("tweets_24_25_variables_target.csv", sep = ";", index = False)

NameError: name 'df' is not defined

In [11]:
dfs = [df_25_t]
df_25 = pd.DataFrame()
for dataf in dfs:
    df_aux = dataf
    df_aux["target"] = [1 for i in range(df_aux.shape[0])]
    df_25 = pd.concat([df_25, df_aux])
    
dfs = [df_25_nt]
for dataf in dfs:
    df_aux = dataf
    df_aux["target"] = [0 for i in range(df_aux.shape[0])]
    df_25 = pd.concat([df_25, df_aux])

In [15]:
df_24.to_csv("tweets_24_variables_target_7h.csv", sep = ";", index = False)
df_25.to_csv("tweets_25_variables_target_7h.csv", sep = ";", index = False)

In [40]:
df1 = pd.read_csv("C:/Users/Daniel/Documents/GitHub/SuperProyecto/Notebooks PROYECTO/Q3_tweets_25_tendencias_variables_7h.csv", sep = ";")
df2 = pd.read_csv("C:/Users/Daniel/Documents/GitHub/SuperProyecto/Notebooks PROYECTO/Q3_tweets_25_notendencias_variables_7h.csv", sep = ";")

In [41]:
dfs = [df1]
df_24 = pd.DataFrame()
for dataf in dfs:
    df_aux = dataf
    df_aux["target"] = [1 for i in range(df_aux.shape[0])]
    df_24 = pd.concat([df_24, df_aux])
    
dfs = [df2]
for dataf in dfs:
    df_aux = dataf
    df_aux["target"] = [0 for i in range(df_aux.shape[0])]
    df_24 = pd.concat([df_24, df_aux])
    
df_24.to_csv("Q3_tweets_25_variables_target_7h.csv", sep = ";", index = False)

In [18]:
df_24

,trend,start_lifetime,total_tweets,total_hashtags,total_mentions,total_reply_to,total_url,total_photo,total_retweets,total_likes,...,tweet_acc_56,tweet_acc_67,user_count_01,user_count_12,user_count_23,user_count_34,user_count_45,user_count_56,user_count_67,target
0,Tavares,22,416,433,418,488,64,27,566.0,1763.0,...,-10,19,0,92,172,152,128,99,92,1
1,Feddal,17,679,822,701,883,64,80,595.0,2758.0,...,157,-236,5,5,0,0,145,431,484,1
2,Michael Jordan,21,827,875,858,1473,42,68,2308.0,7412.0,...,-9,26,0,206,313,200,196,183,165,1
3,#PremiosOCRMallorca,19,62,132,71,70,1,5,630.0,3584.0,...,7,2,27,42,20,5,1,4,9,1
4,Vanessa Bryant,20,200,265,215,220,25,34,94.0,1152.0,...,24,36,0,0,60,104,63,42,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,llama,8,58,58,77,93,7,11,45.0,319.0,...,-2,1,0,0,1,9,19,27,34,0
32,equipo,8,5,5,5,5,0,3,27.0,171.0,...,-1,5,0,0,0,1,1,0,2,0
33,nunca,12,3,5,9,3,1,0,46.0,144.0,...,-2,-1,0,0,0,0,2,2,1,0
34,coronavirus,9,1,1,1,1,0,1,46.0,147.0,...,0,1,0,0,0,0,0,0,1,0
35,oficial,9,17,17,18,31,0,0,179.0,284.0,...,1,-2,1,1,0,0,4,9,12,0